// Base colors
$color-primary: #ffffff;
$color-white: #ffffff;

// Background colors
$color-background-primary: #3c84b4;
$color-background-base: #d3d3d3;

// Text colors
$color-text-primary: #777;
$color-text-secondary: $color-background-primary;

// Default header size
$header-text-size: 2rem;
$product-header-text-size: 1em;
